{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}


{% block body %}


<hr />
<h2>Create new post:</h2>
<form action="/posts" method="POST">
	Title: <input type="text" name='title' id='title'>
	<br />
	Post: <input type="text" name='content' id='content'>
	<br />
	Author: <input type="text" name='author' id=author>
	<button type="submit" value='Post' class="btn btn-primary">Post</button>
</form>

<hr />


<h1>All posts</h1>

{% for post in posts %}
<h2>{{ post.title }}</h2>
{% if post.author %}
<h3>By: {{ post.author }}</h3>
{% else %}
<h3>By: N/A</h3>
{% endif %}
<p>{{ post.content }}</p>
<div>{{ post.date_posted }}</div>
<a href='/posts/delete/{{post.id}}' class="btn btn-dark">Delete</a> &nbsp; &nbsp; &nbsp;
<a href='/posts/edit/{{post.id}}' class="btn btn-dark">Edit</a>
<hr />
{% endfor %}

{% endblock %}